build_output/*
code_drop/*
*.suo
*.user

src/logs/*

bin
obj
_ReSharper*

*.csproj.user
*.resharper.user
*.resharper
*.ReSharper
*.cache
*~
*.swp
*.bak
*.orig
*.dbmdl

TestResult.xml
submit.xml
SolutionVersion.cs
editor.htm
history.xml
testEditor.css
*StyleCop.Cache
*.log
*/sql/debug/*
src/tests/*
Build/*
Controls/*
Core/*
External/*
TestResults/*
output/*
debug/*
Lib/2nd_Party/*
lib/2nd_Party/*
source/packages
source/packages/repositories.config
source/ProductInfo.cs
source/.vs

db/ordering/Main Scripts/output/*
db/ordering/output/*
db/Main Scripts/output/*
db/Main Scripts/Migration/Deltas/*_DBMaint*

resource/CMF/
resource/CredentialManagement/
resource/EasyHttp/
resource/JsonFx/
resource/log4net/
resource/MAI.Common.InstallTasks/
resource/MAI.Db.InstallTasks/
resource/MSBuildTasks/
resource/NUnit.Runners/
resource/OMCL.Deployment.XmlSerialization/
resource/SharpZipLib/
resource/WiX/

nuget/
tools/
ExcludeList.txt
.scannerwork/
/.vs/VSWorkspaceState.json
/source/coverage1
/.vs/config/applicationhost.config
