footer {
  padding: 8px 16px;
  color: white;
  background: #5E6A71;
  margin-top: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.footer-xs {
  text-align: center;
  padding-top: 1em;
}
